@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a9a9f5;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #08088a;
  background-color: #a9a9f5;
  color: #08088a;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

#counter {
  display: flex;
}

#currentNumber {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 16pt;
}
